.weatherInfo {
  padding: 20px;
  color: white;
}
.weatherInfo h1,
.weatherInfo h2 {
  text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.weatherInfo h1 {
  padding-top: 40px;
  font-size: 75px;
  text-align: left;
}
.weatherInfo .row {
  color: white;
  margin: 50px auto;
}
.weatherInfo ul {
  list-style-type: none;
  text-align: left;
  padding: 10px 5px 5px;
}

.weatherInfo h2 {
  font-size: 100px;
}
.weatherInfo a {
  text-decoration: none;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 40px;
}
.weatherInfo .weatherIcon {
  background-color: rgba(180, 161, 247, 0.812);
  float: inline-start;
  width: 150px;
  border: 0.5px solid rgba(254, 254, 255, 0.672);
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
